/* VARIABLES DE USO GLOBAL */

/* Fonts */
$bs-font-family: "Open Sans", sans-serif;

/* Colores primarios */
$bs-primary: #09c;

/* Color de fondo */
$bs-background: #f7f7f7;

/* Colores de texto */
$bs-text: #39404a;
