<!DOCTYPE html>
<html lang="es" translate="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Example page</title>

    <link
      rel="icon"
      type="image/svg+xml"
      href="/logo_bsale_web_naranjo_256x256.svg"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap"
      rel="stylesheet"
    />

    <script defer type="module" src="/pages/example/main.js"></script>
  </head>

  <body>
    <!-- Menu de ejemplo -->
    <div class="bs-menu">
      <div style="height: inherit; display: flex; align-items: center; gap: 50px">
        <img
          src="/logo_bsale_web_naranjo_500x200.svg"
          alt="logo Bsale"
          width="150"
        />
      </div>
    </div>

    <div id="content"></div>
  </body>
</html>
